<h3>Flights Found!</h3>
<%= form_with url: "/booking/new", method: :get do |form| %>
    <% @flights.each do |flight| %>
        <%= form.radio_button :flight, flight.id%>
        <%= form.label :"flight_#{flight.id}", "Flight number #{flight.id}" %>
        <br>
        <%= form.hidden_field :num_tickets, value: params[:num_tickets]%>
        <%= render partial: "flight", locals: {flight: flight} %>
        <br>
    <% end %>
<% end %>